.header-card {
  background-color: #5453a4;
  padding: 0%;
  height: 100%;
  width: 100%;
}

.header-card-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

mat-card-title {
  color: white;
  margin: 0;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}