<div class="sign-in">
  <mat-card class="sign-card">
    <mat-card-header>
      <mat-card-title class="sign-card-title">Sign In</mat-card-title>
      <mat-card-subtitle class="sign-card-subtitle">Hello! Sign in with your username or email</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)" class="sign-form">
        <mat-form-field class="sign-full-width">
          <div [ngClass]="{'warning':!signupForm.get('firstName').valid && (signupForm.get('firstName').touched||signupForm.get('firstName').dirty)}">
            <input matInput placeholder="Email ID|Username" type="email" formControlName=firstName>
            <span *ngIf="!signupForm.get('firstName').valid && signupForm.get('firstName').touched">Please enter a valid email</span>
          </div>
        </mat-form-field>
        <mat-form-field class="sign-full-width">
          <div [ngClass]="{'warning':!signupForm.get('password').valid && (signupForm.get('password').touched||signupForm.get('password').dirty)}">
            <input matInput placeholder="Password" type="password" formControlName=password>
            <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">Please enter a password</span>

          </div>
        </mat-form-field>
        <div class="sign-check">
          <mat-checkbox>Remember me</mat-checkbox>
          <a href="#">Forgot Password?</a>
        </div>
        <button type="submit" mat-button [disabled]="signupForm.invalid">SIGN IN</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="sign-up">Don't have an account?
        <a href="#"> Sign Up</a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>