.main-grid {
  height: 100vh;
}

.grid-list {
  background-color: #5453a4;
}

.header {
  width: 100%;
  height: 100%;
}

.employee-list {
  width: 94%;
  height: 90%;
}

.thumbnail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sidenav{
  width:100%;
  height:90%;
}