<mat-grid-list class="main-grid" cols="40" rows="30" rowHeight="fit" gutterSize=1px>
  <mat-grid-tile colspan=40 rowspan=2>
    <app-header class="header"></app-header>
  </mat-grid-tile>
  <mat-grid-tile class="grid-list" colspan=6 rowspan=28>
    <app-sidebar class="sidenav"></app-sidebar>
  </mat-grid-tile>
  <mat-grid-tile colspan=34 rowspan=5>
    <app-thumbnails class="thumbnail"></app-thumbnails>
  </mat-grid-tile>
  <mat-grid-tile colspan=34 rowspan=23>
    <div class="employee-list">
      <router-outlet></router-outlet>
    </div>
  </mat-grid-tile>
</mat-grid-list>