/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';      
body{
    margin: 0%;
    width:100%;
    height:100%;
    background-color: #302F74;
}
.mat-form-field-underline {
display:none;
}
.mat-checkbox-inner-container {
    background-color: white;
}
.mat-input-container label {
    color: #8787AC;
    margin-top:8px;
}